<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>HTML5でWebサイトを作ってみた</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
  <h1>HTML5でWebサイト制作にチャレンジしました</h1>
</header>
<main>
  <article>
    <h2>HTML5を知ろう</h2>
    <p>WebサイトにおけるHTML5の技術的役割は文書構造になります。</p>
    <p>他にもCSSやJavaScriptという技術が使われます。</p>
    <h3>WebサイトにおけるHTMLとCSS、JavaScriptの技術的役割</h3>
    <dl>
      <dt>HTML</dt>
      <dd>文書構造</dd>
      <dt>CSS</dt>
      <dd>視覚表現</dd>
      <dt>JavaScript</dt>
      <dd>振る舞い</dd>
    </dl>
    <h3>HTML5にはロゴがあります</h3>
    <figure>
      <img src="/static/img/HTML5.png" alt="HTML5ロゴ">
      <figcaption class="caption">HTML5のロゴ</figcaption>
    </figure>
    <p>ロゴのデータは<a href="http://www.w3.org/html/logo/" target="_blank">W3Cのサイト</a>からダウンロード出来ます。</p>
    <p><a href="http://html5shirt.com/" target="_blank">HTML5のロゴが入ったTシャツも販売されている</a>ので欲しい方は買ってみてはいかがでしょうか。</p>
  </article>
</main>
<footer>
  <p><small>© 2015 著作権者名</small></p>
</footer>
</body>
</html>
