<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>HTML5でWebサイトを作ってみた</title>

  
  <link rel="stylesheet" href="/static/css/mdl_style.css">
  <link rel="stylesheet" href="/static/mdl/material.min.css">
    <script src="/static/mdl/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">HTML5でWebサイト制作にチャレンジしました</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>

  <main>
    <article>
      <h3>HTML5を知ろう</h3>
      
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">HTML5を知ろう</h2>
        </div>
        <div class="mdl-card__supporting-text">
          WebサイトにおけるHTML5の技術的役割は文書構造になります。他にもCSSやJavaScriptという技術が使われます。
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Get Started
          </a>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
          </button>
        </div>

        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">HTML5を知ろう</h2>
        </div>
        <div class="mdl-card__supporting-text">
          WebサイトにおけるHTML5の技術的役割は文書構造になります。他にもCSSやJavaScriptという技術が使われます。
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Get Started
          </a>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
          </button>
        </div>
      </div>


      <h3>WebサイトにおけるHTMLとCSS、JavaScriptの技術的役割</h3>
      <ul class="demo-list-three mdl-list">
        <li class="mdl-list__item mdl-list__item--three-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">done</i>
            <span>HTML</span>
            <span class="mdl-list__item-text-body">文書構造
            </span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
          </span>
        </li>
        <li class="mdl-list__item mdl-list__item--three-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons  mdl-list__item-avatar">done</i>
            <span>CSS</span>
            <span class="mdl-list__item-text-body">視覚表現
            </span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
          </span>
        </li>
        <li class="mdl-list__item mdl-list__item--three-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons  mdl-list__item-avatar">done</i>
            <span>JavaScript</span>
            <span class="mdl-list__item-text-body">
              振る舞い
            </span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
          </span>
        </li>
      </ul>

      <h3>HTML5にはロゴがあります</h3>
      <figure>
        <img class="icon" src="/static/img/HTML5.png" alt="HTML5ロゴ">
        <figcaption class="caption">HTML5のロゴ</figcaption>
      </figure>
      <p>ロゴのデータは<a href="http://www.w3.org/html/logo/" target="_blank">W3Cのサイト</a>からダウンロード出来ます。</p>
      <p><a href="http://html5shirt.com/" target="_blank">HTML5のロゴが入ったTシャツも販売されている</a>ので欲しい方は買ってみてはいかがでしょうか。</p>
    </article>
  </main>

</div>


<footer>
  <p><small>© 2015 著作権者名</small></p>
</footer>
</body>
</html>
