{% extends "layout.html" %}

{% block content %}

    <h1 style="margin-bottom:50px">書籍の追加</h1>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}

    <form method="post">
        <div class="form-group">
            <label>本のタイトル</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>著者</label>
            <input type="text" class="form-control" name="auther">
        </div>
        <div class="form-group">
            <label>出版社</label>
            <input type="text" class="form-control" name="publisher">
        </div>
        <button type="submit" class="btn btn-primary">新規追加</button>
    </form>

{% endblock %}
